@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "DM Sans";
}

h1 {
  font-family: "DM Sans";
}

body {
  background-color: rgba(250, 250, 255, 1);
}

.resumediv {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* .left {
  width: 40%;
}

.right {
  width: 60%;
} */

p {
  width: 100%;
}

/* ======================== */
.blurcircle {
  filter: blur(10px);
  -webkit-filter: blur(80px);
  background: linear-gradient(
    135deg,
    rgba(206, 11, 239, 1),
    rgba(61, 165, 248, 1)
  );
  width: 130px;
  height: 130px;
  border-radius: 50%;
  z-index: -1;
}

.cardDiv2,
.cardDiv1 {
  height: 250px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgb(252, 252, 252);
}

.cardDiv1 {
  position: relative;
  top: 70px;
}

@media screen and (max-width: 700px) {
  .CardDiv {
    flex-wrap: wrap;
  }

  .cardDiv1 {
    position: relative;
    top: 0px;
  }
}

/* typing text  */

.headingdiv {
  display: inline-block;
  position: relative;
  bottom: -10px;
}

.text {
  display: inline-block;
  overflow: hidden;
  border-right: 0.15rem solid rgb(0, 0, 0);
  white-space: nowrap;
  animation: typing 3s steps(40, end) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
